# Python
__pycache__/
*.py[cod]
*.so
.Python

venv/
env/
ENV/
venv.bak/

images/*
uploads/*
test_image/*
!.gitkeep
!images/.gitkeep
!uploads/.gitkeep
!test_image/.gitkeep

db_config.py
.env
*.local

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# DeepFace 
~/.deepface/
models/

*.h5
*.pb
*.ckpt
*.pkl
